.header {
  display: grid;
  grid-template-columns: 70px 1fr;
  background-color: rgb(108, 189, 215);
  padding: 2px 100px;
  position: fixed;
  width: 100%;
}

.img-icon {
  img {
    width: 70px;
    height: 70px;
  }
}

.nav {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    color: rgb(18, 16, 16);
    font-size: 18px;
  }

  a:hover {
    color: rgb(85, 102, 102);
  }
}
